#outer {
    height: 100%;
    width: 100%;
    float: left;
}

#left-outer {
    width: 22.5%;
    height: 100%;
    background: purple;
    float: left;
}

#info-pane {
    width: 100%;
    height: 25%;
    background: pink;
    display: block;
     
}

#sliders-outer {
    margin-top: 23%;
    width: 100%;
    height: 60%;
}

#slider-left-text-outer {
    width: 10%;
    height: 60%;
    background: turquoise;
    float: left;
    margin-left: 24%;
}

#slider-left {
    width: 10%;
    height: 60%;
    background: yellow;
    float: left;
    margin-left: 1%;
}

#slider-right-text-outer {
    width: 10%;
    height: 60%;
    background: gray;
    float: left;
    margin-left: 5%;
}

#slider-right {
    width: 10%;
    height: 60%;
    background: orange;
    float: left;
    margin-left: 1%;
}

#circle-outer {
    width: 55%;
    height: 55%;
    display: inline-block;
    margin: auto;
}

#circle-outer #wave {
    top: 43%;
    width: 38.5%;
    margin-left: 8%;
    height: 20%;
    background: orange;
    position: absolute;
}

#right-outer{
    width: 22.5%;
    height: 100%;
    background: green;
    float: right;
}

body{
    height: 100%;
    font-family: 'Open Sans';
}

html{
    height: 100%;
}
