#circle-outer {
    width: 55%;
    height: 55%;
    display: block;
    margin: auto;
}

#circle-outer #wave {
    top: 36%;
    width: 38.5%;
    margin-left: 8%;
    height: 15%;
    background: orange;
    position: absolute;
}

#circle-outer #wave2 {
    top: 51%;
    width: 38.5%;
    margin-left: 8%;
    height: 15%;
    background: orange;
    position: absolute;
}

